<html>
    <head>
      {% if title %}
      <title>{{ title }} - Demo</title>
      {% else %}
      <title>Welcome to The Visual Genome Semantic Image Search Demo</title>
      {% endif %}
    </head>
    <body>
        <div>Image Search <a href="/index">Home</a> <a href="/search">Search</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
